body{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  background-color: #FDF6E3;
}

footer {
    height: 3rem;
    width: 100%;
    padding-top: 2rem;
    margin-top: 2rem;
}

select {
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  border: none;
}
